body{
    background-image: url("wat.jpg");background-repeat:no-repeat;

}
.container{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 600px;
    width: 400px;
    font-family: Georgia;
    text-size-adjust: ;
}

 
  

























